node_modules/
CastleApi/bin/
CastleApi/obj/
.vs/
.vscode/
__pycache__/
*.pyc
log.txt
results.txt
token.txt
auth_results.json
accounts.txt
proxy.txt
castle_token.txt
cloudflared.exe
Castle_Portable_Package/
Castle_Portable_Package.zip
